<div class="container">
    <div class="my-5"></div>
    <div class="card" style="max-width: 60%; margin: auto">
        <form [formGroup]="miFormulario" (ngSubmit)="guardar()">
            <div class="row p-3">
                <div class="py-2 form-group d-flex flex-row-reverse">
                    <div style="max-height: fit-content; align-items: center">
                        <mat-slide-toggle formControlName="finalizada" labelPosition="before">Finalizada</mat-slide-toggle>
                    </div>
                </div>
                <div class="mb-2 form-group">
                    <label>Título</label>
                    <input formControlName="titulo" type="text" class="form-control">
                </div>

                <div class="mb-2 form-group">
                    <label>Descripción</label>
                    <textarea formControlName="descripcion" class="form-control" rows="5"></textarea>
                </div>

                <div class="col-md-6">
                    <fieldset class="mb-2" disabled>
                        <label for="disabledTextInput" class="form-label">Fecha de creación</label>
                        <input formControlName="fechaCreacion" type="text" class="form-control">
                    </fieldset>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Fecha de Vencimiento</label>
                    <div class="mb-2 input-group">
                        <input formControlName="fechaVencimiento" class="form-control" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <span class="input-group-text"></span> -->
                    </div>
                </div>

                <div class="mt-3 d-flex justify-content-between">
                    <div class="p-2 bd-highlight">
                        <button type="submit" mat-raised-button color="primary">
                            <mat-icon>save</mat-icon>
                            {{ ( tarea.id )? 'Actualizar' : 'Crear' }}
                        </button>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button *ngIf="tarea.id" mat-raised-button color="warn" (click)="borrar()">
                            <mat-icon>remove</mat-icon>
                            Borrar
                        </button>
                    </div>
                </div>

                <!-- <span class="spacer"></span> -->

            </div>
        </form>
    </div>
</div>